*{
    margin:0;
    padding:0;
}
img{
    border:none 0;
}
a{
    text-decoration:none;
    cursor:pointer;
}
ul li{
    list-style:none;
}
body{
    font-family:"楷体",STKaiti, KaiTi_GB2312, "华文楷体", "宋体", Arial, Helvetica, sans-serif;
    font-size:15px;
    background:#f1f2f6;
    /*background: url("../自己网站素材/36.jpg")no-repeat center 0px,0px;*/
}
